<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <p>
      © {{ site.time | date: "%Y" }} {{ site.author.name }}
      · {{ site.author.affiliation }}
    </p>

    <p class="footer-links">
      <a href="mailto:{{ site.author.email }}">Email</a>
      ·
      <a href="https://github.com/{{ site.github }}">GitHub</a>
      ·
      <a href="https://linkedin.com/in/{{ site.linkedin }}">LinkedIn</a>
    </p>
  </div>
</footer>
